@use "sass:math";

// Strip unit from input value and convert it to a number (e.g. "10px" --> 10).
@function stripUnit($value) {
  @return math.div($value, ($value * 0 + 1));
}

// Convert input values in px to rem (e.g. "32px" --> 2rem).
@function rem($pxValue) {
  @return math.div(stripUnit($pxValue), 16) * 1rem;
}

// General styling.
$desktop-width-mode: rem(720px);
$max-page-width: rem(1000px);

// Styling for navigation bar.
$nav-bar-height-desktop: rem(110px);
$nav-bar-height-mobile: rem(80px);
$nav-bar-line-color: silver;
$nav-bar-line-width: rem(1px);
$nav-bar-link-background-color-hover: rgba(164, 209, 254, 0.6);
$nav-bar-link-background-color-transition: background-color 0.4s ease;
$nav-bar-link-color-active: royalblue;
$nav-bar-link-color-normal: darkblue;
